<div class="jumbotron">
	<% if user_signed_in? %>

	<h1>Bienvenido</h1>

	<% else %>
	<h1>Ingresa aqui</h1>
	<p>
		<%= link_to "Registrarse",new_user_registration_path,{:class=>"btn btn-primary btn-lg"} %>
	</p>

	<% end %>
	<p>
		...
	</p>
</div>